@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "isidora-medium";
  src: url("../public/fonts/isidora-medium.otf");
}

* {
  font-family: isidora-medium, sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: sans-serif;
}

