@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "isidora-medium";
  src: url("../public/fonts/isidora-medium.otf");
}

* {
  font-family: isidora-medium, sans-serif;
}
